---
import { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Loading from "@components/Loading.astro";
import Navbar from "@components/NavbarEN.astro";
import Hero from "@components/Hero.astro";
import Acerca from "@components/Acerca.astro";
import Footer from "@components/Footer.astro";
import Product from "@components/Product.astro";
import Contact from "@components/Contact.astro";

changeLanguage("en");
---

<Layout title="WislinFarm">
  <Loading />
  <main class="w-screen">
    <div class="page-content" style="display: none;">
      <Navbar />
      <hr class="border border-gray-300" />
      <Hero />
      <Acerca />
      <hr class="border border-gray-300" />
      <div id="productos">
        <Product />
      </div>
      <hr class="border border-gray-300 mb-8" />
      <div id="nosotros" class="container mx-auto md:w-[90%] px-16">
        <div class="flex flex-col">
          <h1 class="text-4xl font-bold text-center mb-8 text-red-600">
            {t("nosotros.title")}
          </h1>
          <p class="text-justify mb-8 font-Roboto font-normal text-2xl">
            {t("nosotros.subtitle")}
          </p>
          <p class="mb-8 font-Roboto font-normal text-justify text-2xl">
            {t("nosotros.parrafo")}
          </p>
        </div>
      </div>
      <hr class="border border-gray-300 mb-8" />
      <div id="historia" class="container mx-auto md:w-[90%] px-16 py-8">
        <div class="flex flex-col">
          <h1 class="text-4xl font-bold text-center mb-4 text-red-600">
            {t("historia.title")}
          </h1>
          <p class="text-justify mb-8 font-normal text-2xl">
            {t("historia.subtitle")}
          </p>
          <p class="mb-8 font-Roboto font-normal text-justify text-2xl">
            {t("historia.parrafo")}
          </p>
        </div>
      </div>
      <hr class="border border-gray-300 mb-8" />
      <div id="valores" class="container mx-auto md:w-[90%] px-16 py-8">
        <div class="flex flex-col">
          <h1 class="text-4xl font-bold text-center mb-4 text-red-600">
            Values
          </h1>
          <p class="text-justify mb-8 font-normal text-2xl">
            Honesty: Authenticity and transparency guide our process to
            guarantee our commitment with your health and environment
          </p>
          <p class="text-justify mb-8 font-normal text-2xl">
            Quality: We attempt to go all out with our products freshness to
            give in each bite a story of excellence
          </p>
          <p class="text-justify mb-8 font-normal text-2xl">
            Integrity: We are a family-run business attached to our traditions
            and story; we want to project them in our products
          </p>
          <p class="text-justify mb-8 font-normal text-2xl">
            Professionalism: We work hard to offer the maximum in our protocols
            of quality, to reach the greatest satisfaction in your consumers.
          </p>
          <p class="text-justify mb-8 font-normal text-2xl">
            Iniquity: We refine our production process with high standard
            protocols
          </p>
        </div>
      </div>
      <div></div>
      <hr class="border border-gray-300" />
      <div id="contacto">
        <Contact />
      </div>
      <Footer />
    </div>
  </main>
</Layout>
