---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.astro";

changeLanguage("en");
---

<Layout title="WislinFarm - Productos">
  <main>
    <div>
      <Navbar />
      <hr class="border border-gray-300" />
    </div>
  </main>
</Layout>
