---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/Navbar.astro";
import Product from "@components/Product.astro";
import Footer from "@components/Footer.astro";
import { fade } from "astro:transitions";

changeLanguage("es");
---

<Layout title="WislinFarm - Productos">
  <main transition:animate={fade({ duration: "1s" })}>
    <div>
      <Navbar />
      <hr class="border border-gray-300" />
      <Product />
      <Footer />
    </div>
  </main>
</Layout>
