---
import Layout from "../layouts/Layout.astro";
import Loading from "../components/Loading.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Acerca from "../components/Acerca.astro";
---

<Layout title="WislinFarm">
  <Loading />
  <main>
    <div class="page-content" style="display: none;">
      <Navbar />
      <hr class="border border-gray-300" />
      <!-- <Hero /> -->
      <Acerca />
    </div>
  </main>
</Layout>
