---
import { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Loading from "@components/Loading.astro";
import Navbar from "@components/Navbar.astro";
import Hero from "@components/Hero.astro";
import Acerca from "@components/Acerca.astro";
import Footer from "@components/Footer.astro";
import Product from "@components/Product.astro";
import Contact from "@components/Contact.astro";

changeLanguage("es");
---

<Layout title="WislinFarm">
  <Loading />
  <main class="w-screen">
    <div class="page-content" style="display: none;">
      <Navbar />
      <hr class="border border-gray-300" />
      <Hero />
      <Acerca />
      <hr class="border border-gray-300" />
      <div class="py-8" id="productos">
        <Product />
      </div>
      <hr class="border border-gray-300 mb-8" />
      <div id="nosotros" class="container mx-auto md:w-[90%] px-16 py-8">
        <div class="flex flex-col">
          <h1 class="text-4xl font-bold text-center mb-8 text-red-600">
            {t("nosotros.title")}
          </h1>
          <p class="text-justify mb-8 font-normal text-2xl">
            {t("nosotros.subtitle")}
          </p>
          <p class="mb-8 font-Roboto font-normal text-justify text-2xl">
            {t("nosotros.parrafo")}
          </p>
        </div>
      </div>
      <hr class="border border-gray-300" />
      <div id="historia" class="container mx-auto md:w-[90%] px-16 py-8">
        <div class="flex flex-col">
          <h1 class="text-4xl font-bold text-center mb-8 text-red-600">
            {t("historia.title")}
          </h1>
          <p class="text-justify mb-8 font-normal text-2xl">
            {t("historia.subtitle")}
          </p>
          <p class="mb-8 font-Roboto font-normal text-justify text-2xl">
            {t("historia.parrafo")}
          </p>
        </div>
      </div>
      <hr class="border border-gray-300 mb-8" />
      <div id="valores" class="container mx-auto md:w-[90%] px-16 py-8">
        <div class="flex flex-col">
          <h1 class="text-4xl font-bold text-center mb-4 text-red-600">
            Valores
          </h1>
          <p class="text-justify mb-8 font-normal text-2xl">
            Honestidad: La autenticidad y trasparencia rigen nuestros procesos y
            garantizan nuestro compromiso con tu salud y el medio ambiente
          </p>
          <p class="text-justify mb-8 font-normal text-2xl">
            Calidad: Nos esforzamos en hacer con la máxima y frescura cada
            producto para dar en cada bocado una historia de excelencia
          </p>
          <p class="text-justify mb-8 font-normal text-2xl">
            Integridad: Somos un negocio familiar que reconoce a todas las
            partes que lo conforman, estamos adheridos a la historia y
            tradiciones con el fin trasformar nuestra garantía en una realidad.
          </p>
          <p class="text-justify mb-8 font-normal text-2xl">
            Profesionalismo: Nos esforzamos en ofrecer la máxima calidad,
            tomamos acción en cumplir en tiempo y forma buscando la
            satisfacción.
          </p>
          <p class="text-justify mb-8 font-normal text-2xl">
            Inocuidad: Creamos altos protocolos de higiene, seguridad y salud
            para cada sector involucrado en la producción y venta final.
          </p>
        </div>
      </div>
      <hr class="border border-gray-300" />
      <div id="contacto">
        <Contact />
      </div>
      <Footer />
    </div>
  </main>
</Layout>
