---
import { Image } from "astro:assets";
import { t } from "i18next";
import About from "@assets/Acerca.png";
---

<section
  class="flex justify-center flex-col items-center mx-auto py-8 md:py-24 md:w-[90%]"
>
  <h1
    class="text-3xl px-8 md:text-4xl text-red-700 font-semibold mb-12 text-center"
  >
    {t("hero.title")}
  </h1>
  <div class="px-8 gap-8 items-center">
    <p class="text-start md:text-center text-xl font-normal mb-8">
      {t("hero.subtitle")}
    </p>
    <div>
      <Image src={About} alt="Acerca de nosotros" class="mx-auto" />
    </div>
  </div>
</section>
