<section class="flex justify-center items-center mx-auto py-24 w-4/5">
  <div class="grid grid-cols-1 md:grid-cols-2 px-8 gap-8 items-center">
    <h1 class="text-wrap text-justify font-Roboto font-normal">
      Somos una empresa familiar con más de 30 años y 3 generaciones de
      presencia en Baja California, dedicados a la elaboración y venta de
      productos lácteos artesanales. Los quesos que fabricamos están hechos con
      leche pasteurizada de vaca, libre de hormonas, aditivos y conservadores.
      Día a día creamos productos únicos y originales gracias a las habilidades
      y conocimientos de nuestros artesanos. Nuestro objetivo como empresa es
      ofrecer los mejores y más frescos productos con la mayor calidad que nos
      distingue.
    </h1>
    <img
      src="/Acerca.png"
      alt="Acerca de nosotros"
      class="mx-auto rounded-lg"
    />
  </div>
</section>
