---
import { t } from "i18next";
import Logo from "@assets/Logo Wislin-03.png";
import { Image } from "astro:assets";
---

<div
  class="text-3xl loading flex justify-center items-center flex-col h-screen"
>
  <Image class="animate-fade-up" src={Logo} alt="" />
  <h1
    class="animate-fade-up animate-delay-700 hidden md:block font-normal px-24 text-5xl text-wrap text-center text-black"
  >
    {t("loading.title")}
  </h1>
</div>

<script>
  setTimeout(function () {
    const loadingComponent = document.querySelector(".loading");
    if (loadingComponent) {
      const loadingComponent = document.querySelector(
        ".loading"
      ) as HTMLElement;
      loadingComponent.style.display = "none";
    }

    const pageContent = document.querySelector(".page-content") as HTMLElement;
    if (pageContent) {
      pageContent.style.display = "block";
    }
  }, 4000);
</script>

<style>
  .loading {
  }
</style>
