---
import { Image } from "astro:assets";
import { t } from "i18next";
import Logo from "@assets/logo_loading.png";
---

<div
  class="text-3xl loading flex justify-center items-center flex-col h-screen"
>
  <Image
    class="animate-fade animate-delay-300 w-[1000px] mb-4"
    src={Logo}
    alt="loading-logo"
  />
  <h1
    class="animate-fade animate-delay-600 font-Roboto font-normal px-24 text-5xl text-wrap text-center"
  >
    {t("loading.title")}
  </h1>
</div>

<script>
  setTimeout(function () {
    const loadingComponent = document.querySelector(".loading");
    if (loadingComponent) {
      const loadingComponent = document.querySelector(
        ".loading"
      ) as HTMLElement;
      loadingComponent.style.display = "none";
    }

    const pageContent = document.querySelector(".page-content") as HTMLElement;
    if (pageContent) {
      pageContent.style.display = "block";
    }
  }, 3000);
</script>

<style>
  .loading {
  }
</style>
