---
import { t } from "i18next";
import Logo from "@components/icons/logo.astro";
---

<div
  class="text-3xl loading flex justify-center items-center flex-col h-screen"
>
  <Logo />
  <h1
    class="animate-fade animate-delay-700 hidden md:block font-Roboto font-normal px-24 text-5xl text-wrap text-center"
  >
    {t("loading.title")}
  </h1>
</div>

<script>
  setTimeout(function () {
    const loadingComponent = document.querySelector(".loading");
    if (loadingComponent) {
      const loadingComponent = document.querySelector(
        ".loading"
      ) as HTMLElement;
      loadingComponent.style.display = "none";
    }

    const pageContent = document.querySelector(".page-content") as HTMLElement;
    if (pageContent) {
      pageContent.style.display = "block";
    }
  }, 4000);
</script>

<style>
  .loading {
  }
</style>
