---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  StickyHeader,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
import { Image } from "astro:assets";
import { t } from "i18next";
import Logo from "@assets/logo_loading.png";

const menuMex = [
  {
    name: "Inicio",
    link: "/",
  },
  {
    name: "Productos",
    link: "/productos",
  },
  {
    name: "Acerca",
    link: "/about",
  },
  {
    name: "Servicios",
    link: "/services",
  },
  {
    name: "Contacto",
    link: "/contact",
  },
];

const menuEng = [
  {
    name: "Inicio",
    link: "/en",
  },
  {
    name: "Productos",
    link: "/en/productos",
  },
  {
    name: "Acerca",
    link: "/en/about",
  },
  {
    name: "Servicios",
    link: "/en/services",
  },
  {
    name: "Contacto",
    link: "/en/contact",
  },
];

const DinamicLinks = [
  {
    name: "Queso Fresco",
    link: "/productos/queso-fresco",
  },
  {
    name: "Queso Panela",
    link: "/productos/queso-panela",
  },
  {
    name: "Queso Oaxaca",
    link: "/productos/queso-oaxaca",
  },
  {
    name: "Queso Seco",
    link: "/productos/queso-seco",
  },
  {
    name: "Chorizo",
    link: "/productos/chorizo",
  },
];

const DinamicLinksEng = [
  {
    name: "Fresh Cheese",
    link: "/en/productos/queso-fresco",
  },
  {
    name: "Panela Cheese",
    link: "/en/productos/queso-panela",
  },
  {
    name: "Oaxaca Cheese",
    link: "/en/productos/queso-oaxaca",
  },
  {
    name: "Dry Cheese",
    link: "/en/productos/queso-seco",
  },
  {
    name: "Chorizo",
    link: "/en/productos/chorizo",
  },
];
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg"
>
  <header class="lg:flex justify-between p-5 gap-5 mx-auto container w-4/5">
    <Astronav closeOnClick>
      <div class="flex w-full lg:w-auto justify-between">
        <a href="/">
          <!-- Icono de la empresa -->
          <Image src={Logo} class="w-52" alt="Logo" />
        </a>
        <div class="flex items-center lg:hidden">
          <!-- Icono Menu Mobile -->
          <MenuIcon class="w-8 h-8 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden lg:flex">
        <!-- lista de los elementos del navbar -->
        <ul
          class="flex flex-col md:items-center px-6 text-xl lg:flex-row lg:gap-5"
        >
          {
            (menuMex.some((item) => item.link === Astro.url.pathname) ||
            DinamicLinks.some((linkObj) => Astro.url.pathname === linkObj.link)
              ? menuMex
              : menuEng
            ).map((item) => (
              <li>
                <a
                  href={item.link}
                  class={`${Astro.url.pathname === item.link ? "text-red-500" : "text-black"} hover:text-red-500 hover:underline`}
                >
                  {t(`nav.${item.name.toLowerCase()}`)}
                </a>
              </li>
            ))
          }
          <!-- Dropdown de idioma -->
          <li class="relative">
            <Dropdown class="group">
              {
                DinamicLinks.some(
                  (linkObj) => Astro.url.pathname === linkObj.link
                ) ||
                menuMex.some((item) => item.link === Astro.url.pathname) ? (
                  <button
                    id="language-button"
                    class="rounded-xl border-red-500 border p-2 flex justify-center items-center gap-2"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg"
                      alt="Mexican Flag"
                      class="w-12 h-6"
                    />
                    Español
                  </button>
                ) : DinamicLinksEng.some(
                    (linkObj) => Astro.url.pathname === linkObj.link
                  ) ||
                  menuEng.some((item) => item.link === Astro.url.pathname) ? (
                  <button
                    id="language-button"
                    class="rounded-xl border-red-500 border p-2 flex justify-center items-center gap-2"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
                      alt="US Flag"
                      class="w-12 h-6"
                    />
                    English
                  </button>
                ) : null
              }
              <!-- Efecto de dropdown con el idioma a cambiar -->
              <DropdownItems>
                <div
                  class="lg:absolute bg-white hover:bg-slate-100 top-14 w-36 border shadow rounded p-2"
                >
                  <ul>
                    {
                      DinamicLinks.some(
                        (linkObj) => Astro.url.pathname === linkObj.link
                      ) ||
                      menuMex.some(
                        (item) => item.link === Astro.url.pathname
                      ) ? (
                        <li>
                          <a
                            class="flex justify-start items-center gap-2"
                            href={
                              Astro.url.pathname === "/"
                                ? "/en"
                                : "/en" + Astro.url.pathname
                            }
                          >
                            <img
                              src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
                              alt="US Flag"
                              class="w-12 h-6"
                            />
                            {t("nav.Ingles")}
                          </a>
                        </li>
                      ) : DinamicLinksEng.some(
                          (linkObj) => Astro.url.pathname === linkObj.link
                        ) ||
                        menuEng.some(
                          (item) => item.link === Astro.url.pathname
                        ) ? (
                        <li>
                          <a
                            class="flex justify-start items-center gap-2"
                            href={
                              Astro.url.pathname === "/en"
                                ? "/"
                                : Astro.url.pathname.replace("/en", "")
                            }
                          >
                            <img
                              src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg"
                              alt="Mexican Flag"
                              class="w-12 h-6"
                            />
                            {t("nav.Español")}
                          </a>
                        </li>
                      ) : null
                    }
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</StickyHeader>
