---
import { Astronav, MenuItems, MenuIcon, StickyHeader } from "astro-navbar";
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg"
>
  <header class="lg:flex justify-between p-5 gap-5 mx-auto container w-4/5">
    <Astronav closeOnClick>
      <div class="flex w-full lg:w-auto justify-between">
        <a>
          <img src="/logo_loading.png" class="h-24" alt="" />
        </a>
        <div class="flex items-center lg:hidden">
          <MenuIcon class="w-8 h-8 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden lg:flex">
        <ul
          class="flex flex-col md:items-center px-6 text-xl lg:flex-row lg:gap-5"
        >
          <li>
            <a href="/" class="hover:text-red-500 hover:underline">Inicio</a>
          </li>
          <li>
            <a href="/about" class="hover:text-red-500 hover:underline"
              >Acerca de</a
            >
          </li>
          <li>
            <a href="/services" class="hover:text-red-500 hover:underline"
              >Servicios
            </a>
          </li>
          <li>
            <a href="/contact" class="hover:text-red-500 hover:underline"
              >Contacto</a
            >
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</StickyHeader>
