---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  StickyHeader,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
import { Image } from "astro:assets";
import { t } from "i18next";
import Logo from "@assets/logo_loading.png";
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg"
>
  <header class="lg:flex justify-between p-5 gap-5 mx-auto container w-4/5">
    <Astronav closeOnClick>
      <div class="flex w-full lg:w-auto justify-between">
        <a>
          <Image src={Logo} class="w-52" alt="Logo" />
        </a>
        <div class="flex items-center lg:hidden">
          <MenuIcon class="w-8 h-8 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden lg:flex">
        <ul
          class="flex flex-col md:items-center px-6 text-xl lg:flex-row lg:gap-5"
        >
          <li>
            <a href="/" class="hover:text-red-500 hover:underline">
              {t("nav.inicio")}
            </a>
          </li>
          <li>
            <a href="/about" class="hover:text-red-500 hover:underline">
              {t("nav.acerca")}
            </a>
          </li>
          <li>
            <a href="/services" class="hover:text-red-500 hover:underline">
              {t("nav.servicios")}
            </a>
          </li>
          <li>
            <a href="/contact" class="hover:text-red-500 hover:underline">
              {t("nav.contacto")}
            </a>
          </li>
          <li class="relative">
            <Dropdown class="group">
              {
                Astro.url.pathname === "/" ? (
                  <button
                    id="language-button"
                    class="rounded-xl border-red-500 border p-2 flex justify-center items-center gap-2"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg"
                      alt="Mexican Flag"
                      class="w-12 h-6"
                    />
                    Español
                  </button>
                ) : (
                  <button
                    id="language-button"
                    class="rounded-xl border-red-500 border p-2 flex justify-center items-center gap-2"
                  >
                    <img
                      src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
                      alt="US Flag"
                      class="w-12 h-6"
                    />
                    English
                  </button>
                )
              }
              <DropdownItems>
                <div
                  class="lg:absolute bg-white hover:bg-slate-100 top-14 w-36 border shadow rounded p-2"
                >
                  <ul>
                    {
                      Astro.url.pathname === "/" ? (
                        <li>
                          <a
                            class="flex justify-start items-center gap-2"
                            href="/en"
                          >
                            <img
                              src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
                              alt="US Flag"
                              class="w-12 h-6"
                            />
                            {t("nav.Ingles")}
                          </a>
                        </li>
                      ) : (
                        <li>
                          <a
                            class="flex justify-start items-center gap-2"
                            href="/"
                          >
                            <img
                              src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg"
                              alt="Mexican Flag"
                              class="w-12 h-6"
                            />
                            {t("nav.Español")}
                          </a>
                        </li>
                      )
                    }
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</StickyHeader>
