---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  StickyHeader,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
import { Image } from "astro:assets";
import { t } from "i18next";
import Logo from "@assets/logo_loading.png";

const menuMex = [
  {
    name: "Inicio",
    link: "/en/",
  },
  {
    name: "Productos",
    link: "/en/productos",
  },
  {
    name: "Nosotros",
    link: "/en/nosotros",
  },
  {
    name: "Recetas",
    link: "/en/recetas",
  },
  {
    name: "Contacto",
    link: "/en/contacto",
  },
];

const DinamicLinks = [
  {
    name: "Queso Fresco",
    link: "/en/productos/queso-fresco",
  },
  {
    name: "Queso Panela",
    link: "/en/productos/queso-panela",
  },
  {
    name: "Queso Oaxaca",
    link: "/en/productos/queso-oaxaca",
  },
  {
    name: "Queso Seco",
    link: "/en/productos/queso-seco",
  },
  {
    name: "Chorizo",
    link: "/en/productos/chorizo",
  },
  {
    name: "Queso Panela Horneado",
    link: "/en/recetas/queso-panela-horneado",
  },
  {
    name: "Cuadritos de Queso Oaxaca Empanizados",
    link: "/en/recetas/cuadritos-queso-oaxaca-empanizados",
  },
  {
    name: "Verduras Rellenas de Queso Panela",
    link: "/en/recetas/verduras-rellenas-queso-panela",
  },
  {
    name: "Ensalada de Lentejas y Queso Fresco",
    link: "/en/recetas/ensalada-lentejas-y-queso-fresco",
  },
];
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg"
>
  <header class="lg:flex justify-between p-5 gap-5 mx-auto container w-4/5">
    <Astronav closeOnClick>
      <div class="flex w-full lg:w-auto justify-between">
        <a href="/en/">
          <!-- Icono de la empresa -->
          <Image src={Logo} class="w-52" alt="Logo" />
        </a>
        <div class="flex items-center lg:hidden">
          <!-- Icono Menu Mobile -->
          <MenuIcon class="w-8 h-8 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden lg:flex">
        <!-- lista de los elementos del navbar -->
        <ul
          class="flex flex-col md:items-center px-6 text-xl lg:flex-row lg:gap-5"
        >
          {
            menuMex.map((item) => (
              <li>
                <a
                  href={item.link}
                  class={`${Astro.url.pathname === item.link ? "text-red-500" : "text-black"} hover:text-red-500 hover:underline`}
                >
                  {t(`nav.${item.name.toLowerCase()}`)}
                </a>
              </li>
            ))
          }
          <li class="relative">
            <Dropdown class="group">
              <button
                class="flex justify-start items-center gap-2 border-red-500 border p-2 rounded-lg"
              >
                <img
                  src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg"
                  alt="US Flag"
                  class="w-12 h-6"
                />
                English
              </button>
              <DropdownItems>
                <div
                  class="lg:absolute bg-white hover:bg-slate-100 top-14 w-40 border shadow rounded p-2"
                >
                  <ul>
                    <li>
                      <a
                        href={Astro.url.pathname.startsWith("/en")
                          ? Astro.url.pathname.slice(3)
                          : Astro.url.pathname}
                        class="flex justify-start items-center gap-2 p-2 rounded-lg"
                      >
                        <img
                          src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg"
                          alt="Mexican Flag"
                          class="w-12 h-6"
                        />
                        Español
                      </a>
                    </li>
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </header></StickyHeader
>
