---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="WisliFarm" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-background-light: 255, 255, 255; /* blanco */
    --color-text-light: 19, 21, 26; /* casi negro */
    --color-background-dark: 19, 21, 26; /* casi negro */
    --color-text-dark: 255, 255, 255; /* blanco */

    /* Establece los colores iniciales para el modo claro */
    --color-background: var(--color-background-light);
    --color-text: var(--color-text-light);
  }
  .dark {
    /* Establece los colores para el modo oscuro */
    --color-background: var(--color-background-dark);
    --color-text: var(--color-text-dark);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: rgb(var(--color-background));
    background-size: 224px;
  }
  body {
    color: rgb(var(--color-text));
    background-color: rgb(var(--color-background));
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
